#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
.movie-result {
    /*border: 1px solid white;*/
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
    align-items: baseline;
}
.movie-poster {
    width: 100%;
    background-size: cover;
    transition: 0.3s;
    margin-bottom: -8px;
}
/* .movie-poster:hover {
    cursor: grab;
    opacity: 0.3;
} */
.poster-container {
    background-color: black;
}
.card {
    padding: 2em;
}
.details {max-width: 400px;}
.read-the-docs {
    color: #888;
}
.page-link {
    cursor: grab;
    display: inline;
}
