#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
.movie-poster {
    width: 100%;
    background-size: cover;
    transition: 0.3s;
    margin-bottom: -8px;
}
/* .detail-poster {
    max-width: 500px;
} */
.poster-container {
    text-align: center;
}
.movie-poster:hover {
    opacity: 0.8;
}

.card {
    padding: 2em;
}
.details {
    max-width: 600px;
}
.person-details-img {
    max-width: 400px;
}
.read-the-docs {
    color: #888;
}
.page-link {
    cursor: grab;
    display: inline;
}
.overview {
    padding: 12px 0px 12px 0px;
}
.vote {
    margin-bottom: 10px;
}
.star {
    cursor: grab;
}
.person {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    align-items: baseline;
}
.person-img {
    width: 100%;
    transition: 0.3s;
}
.person-img:hover {
    opacity: 0.8;
}
#cover {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#cover2 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 200%;
    z-index: -1;
    background-color: rgb(0, 0, 0, 0.9);
}
.login-input {
    position: absolute;
    right: 60px;
}
.current-page {
    color: #646cff;
    font-weight: bold;
    margin: 0px 3px 0px 3px;
}
.page-number {
    font-weight: bold;
    cursor: grab;
    margin: 0px 3px 0px 3px;
}
.infos-container .infos-box {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.person-img-container {
    text-align: center;
}
.movies-grid {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem 2rem;
    /* padding: 2.5rem 6rem 1rem; */
    position: relative;
}
.vote-status {
    position: relative;
    margin-left: 10px;
    top: -2px;
    color: #646cff;
}
.new-user {
    margin-left: 80px;
    cursor: grab;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
@media screen and (max-width: 700px) {
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .movies-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 400px) {
    .movies-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
